.footer {
  background: #f7f7f7;
}

.footer-link {
  color: grey;
  padding-right: 3px;
  padding-left: 3px;
}

.footer-link:hover {
  color: #ccc;
  text-decoration: none;
}

.social-media-icon {
  padding-right: 3px;
  padding-left: 3px;
}

